svg {
    background-color: #ffffff;
}

path {
    fill: none
}

.line {
    stroke-width: 2;
}

.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 2;
    stroke-opacity: 0.5;
}

.tick line, .grid {
    stroke: grey;
    stroke-width: 1;
    opacity: 0.5;
}

.circle {
    stroke: steelblue;
    stroke-width: 2;
    fill: white;
}

